.PlayButton {
  width: 200px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  background: #222;
  border-color: #00FF88;
  border-image: linear-gradient(to right, #0F8 0%, transparent 15%, transparent 85%, #0F8 100%) 1;
}

button.PlayButton:hover:enabled {
  border-image: 0;
  scale: 1.05;
}

button.PlayButton:active:enabled {
  scale: 0.95;
}

.PlayButton > h1 {
  color: #0F8;
  font-size: 3.5em;
  font-weight: 500;
}
