/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@font-face {
  font-family: Monofonto;
  src: url("assets/fonts/Monofonto-Regular.ttf") format("truetype");
}

* {
  font-family: Monofonto, monospace;
  letter-spacing: 0.075em;
  font-weight: normal;
}

*:focus {
  outline: 1px solid #FFFFFF55;
}

html {
  --theme: #00FF99;
}

body {
  background-color: black;
  position: relative;
  color: var(--theme);
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.error {
  color: #FF0000;
}

a {
  color: var(--theme);
  text-decoration: none;
  -webkit-app-region: no-drag;
}

h1 {
  margin: 12px 0;
}

h2 {
  margin: 8px 0;
}

h3 {
  margin: 6px 0;
}

h4 {
  margin: 4px 0;
}

button, input {
  -webkit-app-region: no-drag;
}

button:disabled {
  filter: brightness(0.5) saturate(0.5);
}

input {
  color: var(--theme);
  border-width: 1px;
  border-color: var(--theme);
  background: #222;
  padding: 4px;
}
